body {
  background-color: #eff3ce;
  ;
}

.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#header-text {
  margin-left: 1rem;
  font-family: Trebuchet MS;
  color: #847919;
  font-size: larger;
}


@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(30deg);
  }

  75% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.button {
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.4rem;
}
.nav-bar {
  background-color:rgb(241, 221, 179);
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 10vmin;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 3%;
}
.nav-link {
  margin-left: 3%;
  margin-right: 3%;
  font-family: Trebuchet MS;
  font-size: 1.25rem;
  color:rgb(86, 73, 15);  
}